<h1>商品管理</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@product) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name,"商品名" %>
      <%= f.text_field :name %>

      <%= f.label :price,"金額" %>
      <%= f.number_field :price %>

      <%= f.label :description,"商品説明" %>
      <%= f.text_area :price %>

      <%= f.file_field :picture %>

      <%= f.submit "追加", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>

<ul class="product_list">
  <% @products.each do |product| %>
  <li>
    <%= product.name  %>
    <%= product.description %>
    <%= image_tag product.picture.url %>
    <%= link_to "商品の編集", admin_user_path(id: admin[:id]) , method: :post　%>
    <%= link_to "商品の削除", admin_user_path(id: admin[:id]) , method: :post　%>
  </li>
  <% end %>
</ul>
