<h1>商品管理</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@product) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <p class="admin_product_title">商品の追加</p>
      <%= f.label :name,"商品名" %>
      <%= f.text_field :name %>

      <%= f.label :price,"金額" %>
      <%= f.number_field :price %>

      <%= f.label :description,"商品説明" %>
      <%= f.text_area :description %>

      <%= f.file_field :main_image %>

      <%= f.submit "追加", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>


<div class="admin_product_list">
  <p class="admin_product_title">商品一覧</p>
  <%= will_paginate @products %>
  <table class="table">
    <thead>
      <tr>
        <th>商品名</th>
        <th>商品説明</th>
        <th>金額</th>
        <th>画像</th>
        <th>編集</th>
        <th>削除</th>
      </tr>
    </thead>
    <% @products.each do |product| %>
    <tbody>
      <td><%= product.name  %></td>
      <td><%= product.description %></td>
      <td><%= product.price%>円</td>
      <td><%= image_tag(product.main_image)%></td>
      <td>編集</td>
      <td><%= link_to "削除", product ,
                     method: :delete,data:{ cofirm: "OK?"} %></td>
    </tbody>
    <% end %>
  </table>
  <%= will_paginate @products %>
</div>
