<div class="admin_user_list"></div>
  <h1>管理者ユーザー一覧</h1>

  <ul class="users">
    <% @admin_users.each do |admin| %>
    <li>
      <%= admin.name %>
      <%= link_to "管理者権限の削除", admin_user_path , method: :put,
                        data:{ cofirm: "よろしいでしょうか？"} %>
    </li>
    <% end %>
  <div class="add_admin"></div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <p class="add_title"> 管理ユーザーの追加　</p>
        <%= form_for(@user, url: admin_create_path) do |f| %>

          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>

          <%= f.submit "追加", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>

  </ul>
