<div class="admin_user_list"></div>
  <h1>管理者ユーザー一覧</h1>

  <table class="table">
    <thead>
      <tr>
        <th>名前</th>
        <th>メールアドレス</th>
        <th>管理者権限の削除</th>
      </tr>
    </thead>
    <% @admin_users.each do |admin| %>
    <tbody>
      <tr>
        <td><%= admin.name  %></td>
        <td><%= admin.email %></td>
        <td><% unless admin.id == 1 %>
            <%= link_to "削除", admin_user_path(id: admin[:id]) ,
                     method: :post,
                    data:{ confirm: "管理者権限を削除してよろしいでしょうか？"},
                    class: "btn btn-danger" %>
            <% end %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
  <div class="add_admin"></div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="add_title"> 管理ユーザーの追加　</h1>
        <%= form_tag admin_create_path, :method　=> 'post' do %>
        <p>登録済みユーザーのメールアドレス</p>
        <%= text_field_tag :email, params[:email], class: "form-control" %>
        <%= submit_tag "追加", class: "btn btn-primary" %>
        <% end %>

      </div>
    </div>
