<h1>注文履歴管理</h1>
<div class="admin_order_list">
  <p class="admin_order_title">商品一覧</p>
  <% @orders.each do |order| %>
  <div class="order panel panel-default">
    <div class="panel-heading">
      <p>注文番号:<%= order.id %></p>
      <p>注文日時:<%= simple_time(order[:created_at]) %></p>
    </div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th>商品画像</th>
            <th>商品名</th>
            <th>金額</th>
          </tr>
        </thead>
        <% order.order_items.each do |item| %>
        <tbody>
          <td><%= image_tag(item.product.main_image.thumb.url)%></td>
          <td><%= item.product.name  %></td>
          <td><%= item.product.price%>円</td>
        </tbody>
        <% end %>
      </table>
      <div>
      <table class="table">
        <thead>
          <tr>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>注文ステータス</th>
            <th>注文ステータスの進行</th>
            <th>合計金額</th>
          </tr>
        </thead>
        <tbody>
          <td><%= order.user.name %></td>
          <td><%= order.user.email %></td>
          <td><%= status(order) %></td>
          <td><% unless order.status == 3 %>
            <%= link_to "進行", order, method: :patch,
                                class: "btn btn-primary" %></td>
              <% end %>
          <td><%= order.order_items.sum(:price) %>円</td>
        </tbody>
      </table>
      </div>
    </div>
  </div>
  <% end %>
  <div class="text-center">
    <%= will_paginate @products %>
  </div>
</div>
