<p class="admin_product_title">商品一覧</p>
<%= will_paginate @products %>
<table class="table">
  <thead>
    <tr>
      <th>商品名</th>
      <th>商品説明</th>
      <th>金額</th>
      <th>画像</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>
  <% @products.each do |product| %>
  <tbody>
    <td><%= link_to product.name,product %></td>
    <td><%= product.description %></td>
    <td><%= product.price%>円</td>
    <td><%= image_tag(product.main_image.thumb.url)%></td>
    <td><%= link_to "編集", edit_product_path(product),
                                  class: "btn btn-dark"%></td>
    <td><%= link_to "削除", product ,
                   method: :delete,
                   data:{ confirm: "削除してよろしいでしょうか？"},
                   class: "btn btn-danger" %></td>
  </tbody>
  <% end %>
</table>
<%= will_paginate @products %>
