<h1>商品一覧</h1>
<div class="products_list">
  <div class="products">
      <% @products.each do |product| %>
      <div class="product">
        <div class="content_image"><%= image_tag(product.main_image) %></div>
        <div class="content_title"><%= product.name %></div>
        <!-- <div class="content_description">
                     <%= product.description %></div> -->
        <div class="content_price"><%= product.price %>円</div>
        <% if current_user %>
          <div><%= form_for(current_user.cart_items.build) do |f| %>
            <div><%= hidden_field_tag :product_id, product.id %></div>
            <%= f.submit "カートに入れる", class: "btn btn-primary" %>
            <% end %>
          </div>
          <% else %>
            <div>
              <%= link_to "カートに入れる", login_path %>
            </div>
        <% end %>
      </div>
      <% end %>
  </div>
  <%= will_paginate @products %>
</div>
