<div class="goods row">
  <div class="goodsLeft pull-left col-sm-7">
    <div class="Photo　img-responsive">
      <%= image_tag(@product.main_image) %>
    </div>
  </div>
  <div class="goodsRight　pull-right col-sm-5">
    <div class="innerRight">
      <div class="goodsName">
        <h1><%= @product.name %></h1>
      </div>
      <div class="description">
        <h5><%= @product.description %></h5>
      </div>
      <div class="price">
        <h2>価格　　　　　<%= @product.price %>円</h2>
      </div>
      <div class="cart">
        <%= form_for(@product.cart_items.build) do |f| %>
        <%= hidden_field_tag :product_id, @product.id %>
        <%= f.submit "カートに入れる", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
